<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
  <title>Pharmacy System DGJL</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Bootstrap -->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/custom.css" rel="stylesheet" />
  <!-- HTML5 shiv and respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container-fluid hidden-xs">
    <div class="row">
      <div class="col-md-12 text-center"><p>1.1 HEADER</p></div>
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle"
        data-toggle="collapse"
        data-target="#mymenu">
        <span class="sr-only">toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand visible-xs">HEADER</a>
    </div>
    <div class="collapse navbar-collapse" id="mymenu"> <!-- nav body -->
    <ul class="nav navbar-nav">
      <li><a href="index.html">Home</a></li>
      <li><a href="createupdate.html">Create / Update</a></li>
      <li><a href="get.html">Get</a></li>
      <li class="active"><a href="delete.html">Delete</a></li>
      <li><a href="#">FOUR</a></li>
      <li><a href="#">FIVE</a></li>
    </ul>
  </div>
</nav>



  <!-- jQuery – required for Bootstrap's JavaScript plugins) -->
	<script src="/lib/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap  plug-ins  file -->
	<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AngularJS file -->
	<script src="/lib/angular/angular.min.js"></script>
  <script src="/js/stock.js"></script>
</body>
</html>
