<!DOCTYPE html>
<html lang="en" data-ng-app="ReportApp">
<head>
  <title>Pharmacy System DGJL</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Bootstrap -->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/custom.css" rel="stylesheet" />
  <!-- HTML5 shiv and respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-controller="ReportCtrl">
  <div class="container-fluid hidden-xs">
    <div class="row">
      <div class="col-md-12 text-center"><h1>Pharmacy System DGJL</h1></div>
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle"
        data-toggle="collapse"
        data-target="#mymenu">
        <span class="sr-only">toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand visible-xs">Pharmacy System DGJL</a>
    </div>
    <div class="collapse navbar-collapse" id="mymenu"> <!-- nav body -->
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="stock.html">Stock List</a></li>
        <li class="active"><a href="report.html">Report</a></li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid">

    <div class="row well">
      <div class="col-md-2"></div>
      <div class="col-md-3">
        <h1>Report</h1>
      </div>
      <div class="col-md-7">
        <button type="button" class="btn btn-lg btn-success" ng-click="GenerateReport()">
          <span class="glyphicon glyphicon-list-alt"></span> Generate Report
        </button>
      </div>
    </div>

  </div>

  <!-- jQuery – required for Bootstrap's JavaScript plugins) -->
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap  plug-ins  file -->
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AngularJS file -->
  <script src="/lib/angular/angular.min.js"></script>
  <!-- JS file used on this page -->
  <script src="/js/report.js"></script>
</body>
</html>
