<!DOCTYPE html>
<html lang="en" data-ng-app="StockApp">
<head>
  <title>Pharmacy System DGJL</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- Bootstrap -->
  <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/custom.css" rel="stylesheet" />
  <!-- HTML5 shiv and respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.min.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-controller="StockCtrl">
  <div class="container-fluid hidden-xs">
    <div class="row">
      <div class="col-md-12 text-center"><h1>Pharmacy System DGJL</h1></div>
    </div>
  </div>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button class="navbar-toggle"
        data-toggle="collapse"
        data-target="#mymenu">
        <span class="sr-only">toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand visible-xs">Pharmacy System DGJL</a>
    </div>
    <div class="collapse navbar-collapse" id="mymenu"> <!-- nav body -->
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li class="active"><a href="stock.html">Stock List</a></li>
      </ul>
    </div>
  </nav>


  <div class="container-fluid">
    <div class="row well">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1>Stock</h1>
      </div>
      <div class="col-md-2">
        <button type="button" class="btn btn-lg btn-success" data-ng-click="Add()">
          <span class="glyphicon glyphicon-plus"></span> Add
        </button>
      </div>
    </div>

    <div class="row well">
      <div class="col-md-12">

        <form class="form-horizontal" name="FilterForm" novalidate="novalidate">
          <div class="row">
            <div class="col-md-10">

              <div class="form-group">
                <label for="searchFilter" class="col-sm-2 control-label">Filter</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="searchFilter" ng-model="searchFilter.$" />
                </div>
              </div>

            </div>
          </div>
        </form>

      </div>
    </div>


    <div class="row well text-center">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="table-responsive">

          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="text-center">Code</th>
                <th class="text-center">Name</th>
                <th class="text-center">Price</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Options</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="s in stock | filter:searchFilter">
                <td>{{s.sku}}</td>
                <td>{{s.name}}</td>
                <td>{{s.price}}</td>
                <td>{{s.quantity}}</td>
                <td>
                  <button class="btn btn-info" data-ng-click="Update(s.sku)">Update Item</button>
                  <button class="btn btn-danger" data-ng-click="Delete(s.sku)">Delete Item</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

  <!-- jQuery – required for Bootstrap's JavaScript plugins) -->
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap  plug-ins  file -->
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- AngularJS file -->
  <script src="/lib/angular/angular.js"></script>
  <!-- JS file used on this page -->
  <script src="/js/stock.js"></script>
</body>
</html>
